* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #0f0f0f; */
}

html,
body {
  font-family: "Roslindale Display Condensed";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c6d5c6;
}

.container {
  z-index: 8;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 11;
}

.nav-links {
  display: flex;
}

.logo,
.nav-item {
  margin: 2em;
  font-weight: 400;
  font-size: 1.5vw;
}

/* h1 {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  font-size: 10vw;
  line-height: 1;
  text-transform: uppercase;
} */

a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  transform-origin: bottom;
  z-index: 200;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  transform-origin: top;
  z-index: 200;
}